<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon slot="start" size="large" name="chevron-back" class="main-back-icon"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onClickDropdown()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Find Coil: Coil Detail</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <app-task-detail-header [task]="selectedTask"></app-task-detail-header>

  <ion-row class="coil-header">
    <ion-col size="auto" class="coil-image">
      <img src="assets/taskicons/fill.png" class="main-img" />
      <img
        src="assets/taskicons/alert.png"
        class="alert-img"
        *ngIf="errorFlag === 1"
      />
      <img
        src="assets/taskicons/error.png"
        class="alert-img"
        *ngIf="errorFlag===2"
      />
      <span>COIL</span>
    </ion-col>
    <ion-col size="auto" class="coil-id-title">ID:</ion-col>
    <ion-col class="coil-id-content">{{selectedCoil.id}}</ion-col>
  </ion-row>

  <app-coil-detail-item
    [selectedCoil]="selectedCoil"
    [warningFields]="warningFields"
    [errorFields]="errorFields"
  ></app-coil-detail-item>

  <div class="list-footer" (click)="useThisCoil()">USE THIS COIL</div>
</ion-content>
