// .scroll-content {
// 	background: #ddd;
// }

.filter-header {
  background: #ddd;
  padding: 7px 5px;

  .filter-header-title {
    font-weight: bold;
    font-size: 17px;
    color: var(--ion-color-new-main);
  }
  .filter-header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-new-gray);
  }

  .filter-header-clear {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: #1d7896;
  }
}

.filter-sort {
  ion-item {
    padding-left: 20px;
    // border-bottom: 0.55px solid #c8c7cc;
    .item-inner {
      border-bottom: none !important;
    }

    ion-icon {
      color: var(--ion-color-new-gray);
    }

    .filter-title {
      color: #111;
      font-size: 1.7rem;
    }

    .selected-filter-title {
      color: var(--ion-color-new-main);
      font-size: 1.5rem;
	  padding-left: 1rem;
    }
  }
  .filter-item-list {
    background: #fff;
    margin-bottom: 0px;
    max-height: 200px;
    overflow-y: scroll;
    .filter-item {
      padding: 10px 0 10px 70px;
      display: flex;
      align-items: center;
      // justify-content: center;
      color: var(--ion-color-new-main);
      font-size: 16px;
      img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
      span {
        margin-left: 15px;
        color: var(--ion-color-new-gray);
        font-size: 1.4rem;
      }
    }
  }
}

.space {
  width: 100%;
  height: 15px;
  background: #ddd;
}

.main-filter-array {
  .filter-item-group {
    border-bottom: 1px solid #c8c7cc !important;
    ion-item {
      padding-left: 20px;

      .item-inner {
        border-bottom: none !important;
      }

      ion-icon {
        color: var(--ion-color-new-gray);
      }

      .filter-title {
        color: #111;
        font-size: 1.7rem;
      }

      .selected-filter-title {
        color: #da8f20;
        text-overflow: initial;
        white-space: normal;
        span {
          margin-right: 3px;
        }
      }
    }
    .filter-item-list {
      background: #fff;
      margin-bottom: 0px;
      max-height: 200px;
      overflow-y: scroll;
      .filter-item {
        padding: 10px 0 10px 70px;
        display: flex;
        align-items: center;
        // justify-content: center;
        color: var(--ion-color-new-main);
        font-size: 16px;
        .item-title {
          margin: 0px;
          display: block;
        }
        img {
          width: 15px;
          height: 15px;
          margin-right: 10px;
        }
        span {
          margin-left: 15px;
          color: var(--ion-color-new-gray);
          font-size: 1.4rem;
        }
      }
    }
  }
}
